@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent;
  --foreground: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: transparent;
    --foreground: transparent;
  }
}

html, body, #__next {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  margin: 0;
}